HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
example-chart/charts/

## MacOS ###
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
local/
local-scripts/

### Dev config, books, and data ###
booklore-ui/test-results/
frontend/test-results/
frontend/node_modules/
booklore-api/src/main/resources/application-local.yaml
/shared/

/scratch
/.yarn/
/frontend/.yarn/
/tools/release/node_modules
/tools/release/.yarn/
