@use "variables";

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: space-between;
  padding: 5rem 1.1rem 1.1rem 3.6rem;
  transition: margin-left variables.$transition-duration;
  position: fixed;
  width: 100%;
  width: -webkit-fill-available;
}

.layout-main {
  flex: 1 1 auto;
}
