<div
  class="reader"
  [style.background-color]="readerState().theme.bg ?? ''">

  <div class="header-trigger-zone"
       [class.inactive]="headerVisible"
       (mouseenter)="onHeaderTriggerZoneEnter()"></div>
  <div class="footer-trigger-zone"
       [class.inactive]="forceNavbarVisible"
       (mouseenter)="onFooterTriggerZoneEnter()"></div>

  @if (isLoading) {
    <div class="loader-overlay">
      <div class="loader-content">
        <div class="spinner"></div>
        <p class="loader-text">{{ 'readerEbook.reader.loadingBook' | transloco }}</p>
      </div>
    </div>
  }

  <app-reader-header></app-reader-header>

  <div class="reader-content" style="position: relative;">
    @if (isCurrentCfiBookmarked()) {
      <div class="bookmark-indicator">
        <svg width="48" height="64" viewBox="0 0 48 64">
          <polygon points="0,0 48,0 48,64 24,48 0,64" fill="red"/>
        </svg>
      </div>
    }
    <div id="foliate-container" tabindex="0"></div>
  </div>

  <app-reader-navbar
    [progressData]="currentProgressData"
    [forceVisible]="forceNavbarVisible"
    [sectionFractions]="sectionFractions"
    (progressChange)="onProgressChange($event)">
  </app-reader-navbar>

  <app-reader-sidebar></app-reader-sidebar>
  <app-reader-left-sidebar></app-reader-left-sidebar>

  @if (showQuickSettings) {
    <app-reader-quick-settings
      [stateService]="stateService"
      [bookId]="bookId"
      (close)="showQuickSettings = false"
      (openFullSettings)="showControls = true">
    </app-reader-quick-settings>
  }

  @if (showControls) {
    <app-settings-dialog
      [stateService]="stateService"
      [viewManager]="viewManager"
      [bookId]="bookId"
      (close)="showControls = false">
    </app-settings-dialog>
  }

  @if (showMetadata) {
    <app-reader-book-metadata-dialog
      [book]="book"
      (close)="showMetadata = false"
    ></app-reader-book-metadata-dialog>
  }

  <app-text-selection-popup
    [visible]="selectionState().visible"
    [position]="selectionState().position"
    [showBelow]="selectionState().showBelow"
    [overlappingAnnotationId]="selectionState().overlappingAnnotationId"
    [selectedText]="selectionState().selectedText"
    (action)="handleSelectionAction($event)"
  ></app-text-selection-popup>

  @if (noteDialogState().visible) {
    <app-reader-note-dialog
      [data]="noteDialogState().data"
      (save)="onNoteSave($event)"
      (cancel)="onNoteCancel()"
    ></app-reader-note-dialog>
  }

  @if (showShortcutsHelp) {
    <app-ebook-shortcuts-help (close)="showShortcutsHelp = false"></app-ebook-shortcuts-help>
  }
</div>
