<ng-container *transloco="let t; prefix: 'statsUser.personalRating'">
<div class="personal-rating-container">
  <div class="chart-header">
    <div class="chart-title">
      <h3>
        <i class="pi pi-star-fill personal-rating-icon"></i>
        {{ t('title') }}
        <i class="pi pi-question-circle chart-info-icon"
           [pTooltip]="t('tooltip')"
           tooltipPosition="bottom"
           tooltipStyleClass="chart-info-tooltip"
           [appendTo]="'body'"></i>
      </h3>
      <p class="chart-description">{{ t('description') }}</p>
    </div>
  </div>
  <div class="chart-wrapper">
    <canvas baseChart
            [data]="chartData()"
            [options]="chartOptions"
            [type]="chartType">
    </canvas>
  </div>
</div>
</ng-container>
