<ng-container *transloco="let t; prefix: 'settingsDevice'">
<p-toast position="top-right"></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="main-container">
  <div class="settings-header">
    <h2 class="settings-title">
      <i class="pi pi-tablet"></i>
      {{ t('kobo.title') }}
      <app-external-doc-link docType="kobo"></app-external-doc-link>
    </h2>
    <p class="settings-description">
      {{ t('kobo.description') }}
    </p>
  </div>

  @if (hasKoboTokenPermission) {
    <div class="settings-content">
      <div class="preferences-section">
        <div class="section-header">
          <h3 class="section-title">
            <i class="pi pi-sync"></i>
            {{ t('kobo.syncConfig') }}
          </h3>
          <p class="section-description">
            {{ t('kobo.syncConfigDesc') }}
          </p>
        </div>

        <div class="settings-card" [formGroup]="syncForm">
          <div class="setting-item">
            <div class="setting-info">
              <div class="setting-label-row">
                <span class="setting-label">{{ t('kobo.enableSync') }}</span>
                <p-toggle-switch
                  inputId="koboSyncEnabled"
                  formControlName="syncEnabled"
                  (onChange)="onSyncToggle($event.checked)">
                </p-toggle-switch>
              </div>
              <p class="setting-description">
                {{ t('kobo.enableSyncDesc') }}
              </p>
            </div>
          </div>

          @if (syncForm.controls.syncEnabled.value) {
            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.twoWaySyncLabel') }}</span>
                  <p-toggle-switch
                    inputId="koboTwoWayProgressSync"
                    formControlName="twoWayProgressSync"
                    (onChange)="onTwoWaySyncToggle($event.checked)">
                  </p-toggle-switch>
                </div>
                <p class="setting-description">
                  {{ t('kobo.twoWaySyncDesc') }}
                  <br>
                  <strong>{{ t('kobo.twoWaySyncNote') }}</strong>
                </p>
              </div>
            </div>
          }

          @if (syncForm.controls.syncEnabled.value) {
            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.token') }}</span>
                  <div class="token-input-group">
                    <input
                      pInputText
                      id="koboToken"
                      formControlName="token"
                      [type]="showToken ? 'text' : 'password'"
                      readonly
                      class="token-input"
                    />
                    <p-button
                      icon="pi pi-copy"
                      outlined="true"
                      severity="info"
                      size="small"
                      (onClick)="copyText(syncForm.controls.token.value, 'Token')"
                      [disabled]="!syncForm.controls.token.value">
                    </p-button>
                    <p-button
                      [icon]="showToken ? 'pi pi-eye-slash' : 'pi pi-eye'"
                      outlined="true"
                      severity="info"
                      size="small"
                      (onClick)="toggleShowToken()"
                      [disabled]="!syncForm.controls.token.value">
                    </p-button>
                    <p-button
                      icon="pi pi-refresh"
                      outlined="true"
                      severity="warn"
                      size="small"
                      (onClick)="confirmRegenerateToken()"
                      [disabled]="!credentialsSaved">
                    </p-button>
                  </div>
                </div>
                <p class="setting-description">
                  {{ t('kobo.tokenDesc') }}
                </p>
              </div>
            </div>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.markAsReading', {value: syncForm.controls.progressMarkAsReadingThreshold.value.toFixed(0)}) }}</span>
                  <div class="slider-container">
                    <p-slider
                      id="koboMarkAsReadingThreshold"
                      formControlName="progressMarkAsReadingThreshold"
                      [min]="1"
                      [max]="10"
                      [step]="1"
                      (onChange)="onProgressThresholdsChange()">
                    </p-slider>
                  </div>
                </div>
                <p class="setting-description">
                  {{ t('kobo.markAsReadingDesc') }}
                  <br>
                  <strong>{{ t('kobo.recommended') }}</strong> {{ t('kobo.markAsReadingRec') }}
                </p>
              </div>
            </div>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.markAsFinished', {value: syncForm.controls.progressMarkAsFinishedThreshold.value.toFixed(0)}) }}</span>
                  <div class="slider-container">
                    <p-slider
                      id="koboMarkAsFinishedThreshold"
                      formControlName="progressMarkAsFinishedThreshold"
                      [min]="90"
                      [max]="100"
                      [step]="1"
                      (onChange)="onProgressThresholdsChange()">
                    </p-slider>
                  </div>
                </div>
                <p class="setting-description">
                  {{ t('kobo.markAsFinishedDesc') }}
                  <br>
                  <strong>{{ t('kobo.recommended') }}</strong> {{ t('kobo.markAsFinishedRec') }}
                </p>
              </div>
            </div>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.autoAddLabel') }}</span>
                  <p-toggle-switch
                    inputId="koboAutoAddToShelf"
                    formControlName="autoAddToShelf"
                    (onChange)="onAutoAddToggle($event.checked)">
                  </p-toggle-switch>
                </div>
                <p class="setting-description">
                  {{ t('kobo.autoAddDesc') }}
                </p>
              </div>
            </div>
          }
        </div>
      </div>

      @if (isAdmin && hasHydratedKoboAdmin) {
        <div class="preferences-section">
          <div class="section-header">
            <h3 class="section-title">
              <i class="pi pi-cog"></i>
              {{ t('kobo.adminSettings') }}
            </h3>
            <p class="section-description">
              {{ t('kobo.adminSettingsDesc') }}
            </p>
          </div>

          <div class="settings-card">
            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.convertKepub') }}</span>
                  <p-toggle-switch
                    id="convertToKepub"
                    [(ngModel)]="koboSettings.convertToKepub"
                    (ngModelChange)="onToggleChange()">
                  </p-toggle-switch>
                </div>
                <p class="setting-description">
                  <strong>{{ t('kobo.pros') }}</strong> {{ t('kobo.convertKepubPros') }}
                  <br>
                  <strong>{{ t('kobo.cons') }}</strong> {{ t('kobo.convertKepubCons') }}
                </p>
              </div>
            </div>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.conversionSizeLimit', {value: koboSettings.conversionLimitInMb}) }}</span>
                  <div class="slider-container">
                    <p-slider
                      id="conversionLimit"
                      [(ngModel)]="koboSettings.conversionLimitInMb"
                      [min]="1"
                      [max]="250"
                      [step]="1"
                      (ngModelChange)="onSliderChange()">
                    </p-slider>
                  </div>
                </div>
                <p class="setting-description">
                  {{ t('kobo.conversionSizeLimitDesc') }}
                  <br>
                  <strong>{{ t('kobo.recommended') }}</strong> {{ t('kobo.conversionSizeLimitRec') }}
                </p>
              </div>
            </div>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.forceHyphenation') }}</span>
                  <p-toggle-switch
                    id="forceEnableHyphenation"
                    [(ngModel)]="koboSettings.forceEnableHyphenation"
                    (ngModelChange)="onToggleChange()">
                  </p-toggle-switch>
                </div>
                <p class="setting-description" [innerHTML]="t('kobo.forceHyphenationDesc')">
                </p>
              </div>
            </div>

            <p-divider></p-divider>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.convertCbx') }}</span>
                  <p-toggle-switch
                    id="convertCbxToEpub"
                    [(ngModel)]="koboSettings.convertCbxToEpub"
                    (ngModelChange)="onToggleChange()">
                  </p-toggle-switch>
                </div>
                <p class="setting-description">
                  {{ t('kobo.convertCbxDesc') }}
                </p>
              </div>
            </div>
            <div class="setting-item">
              <div class="setting-info">
            <div class="setting-label-row">
              <span class="setting-label">{{ t('kobo.imageCompression', {value: koboSettings.conversionImageCompressionPercentage}) }}</span>
              <div class="slider-container">
                <p-slider
                  id="conversionLimit"
                  [(ngModel)]="koboSettings.conversionImageCompressionPercentage"
                  [min]="1"
                  [max]="100"
                  [step]="1"
                  (ngModelChange)="onSliderChange()">
                </p-slider>
              </div>
            </div>
                <p class="setting-description">
                  {{ t('kobo.imageCompressionDesc') }}
                </p>
              </div>
            </div>
            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.cbxSizeLimit', {value: koboSettings.conversionLimitInMbForCbx}) }}</span>
                  <div class="slider-container">
                    <p-slider
                      id="conversionLimitForCbx"
                      [(ngModel)]="koboSettings.conversionLimitInMbForCbx"
                      [min]="1"
                      [max]="500"
                      [step]="1"
                      (ngModelChange)="onSliderChange()">
                    </p-slider>
                  </div>
                </div>
                <p class="setting-description">
                  {{ t('kobo.cbxSizeLimitDesc') }}
                  <br>
                  <strong>{{ t('kobo.recommended') }}</strong> {{ t('kobo.cbxSizeLimitRec') }}
                </p>
              </div>
            </div>

            <p-divider></p-divider>

            <div class="setting-item">
              <div class="setting-info">
                <div class="setting-label-row">
                  <span class="setting-label">{{ t('kobo.forwardToKoboStore') }}</span>
                  <p-toggle-switch
                    id="forwardToKoboStore"
                    [(ngModel)]="koboSettings.forwardToKoboStore"
                    (ngModelChange)="onToggleChange()">
                  </p-toggle-switch>
                </div>
                <p class="setting-description">
                  {{ t('kobo.forwardToKoboStoreDesc') }}
                </p>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="settings-content">
      <div class="access-denied-card">
        <i class="pi pi-lock"></i>
        <div class="access-denied-content">
          <h3>{{ t('accessRestricted') }}</h3>
          <p>
            {{ t('kobo.accessDenied') }}
            <br>
            {{ t('contactAdmin') }}
          </p>
        </div>
      </div>
    </div>
  }
</div>
</ng-container>
