<ng-container>
  @if (root) {
    @if (item.hasDropDown) {
      <div class="layout-menuitem-root-text root-item-with-dropdown">
        <div class="root-item-label-container">
          <div>{{ item.label }}</div>
          @if (item.hasCreate) {
            <button
              type="button"
              class="plus-icon-button"
              [attr.aria-label]="item.label"
              (click)="openDialog(item)"
            >
              <i class="pi pi-plus plus-icon" aria-hidden="true"></i>
            </button>
          }
        </div>
        <button
          type="button"
          class="expand-icon-button"
          [attr.aria-label]="item.label"
          [attr.aria-expanded]="expanded"
          (click)="toggleExpand()"
        >
          <i
            [ngClass]="{
              'pi': true,
              'pi-angle-up': expanded,
              'pi-angle-down': !expanded
            }"
            class="expand-icon"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    } @else {
      <div class="layout-menuitem-root-text root-item">
        <div>{{ item.label }}</div>
      </div>
    }
  }

  <div>
    <div
      class="menu-item-container"
      [class.active-route-container]="isRouteActive()"
      [class.menu-open]="menuOpen"
    >
      @if (item.routerLink && !item.items) {
        <a
          class="menu-item-link"
          [class.active-route]="isRouteActive()"
          [routerLink]="item.routerLink"
          tabindex="0"
        >
          @if (item.unhealthy) {
            <span
              class="library-health-dot"
              [pTooltip]="'common.libraryPathInaccessible' | transloco"
              tooltipPosition="right"
            ></span>
          }
          <app-icon-display
            [icon]="getIconSelection()"
            iconClass="layout-menuitem-icon"
            size="18px"
            [displayEmpty]="true"
          ></app-icon-display>
          <span class="layout-menuitem-text menu-item-text">
            {{ item.label }}
          </span>
        </a>
      }

      <span class="menu-item-end-content">
        @if (shouldShowContextMenuButton()) {
          <button
            type="button"
            class="entity-menu-button"
            [attr.aria-label]="item.label"
            (click)="entitymenu.toggle($event); menuOpen = !menuOpen; $event.stopPropagation()"
          >
            <span class="entity-menu-button-content">
              <i class="pi pi-ellipsis-v entity-menu-icon" aria-hidden="true"></i>
              <span class="entity-menu-count">{{ item.bookCount?.toString() || '' }}</span>
            </span>
          </button>
          <p-menu #entitymenu [model]="item.contextMenuItems" [popup]="true" appendTo="body" (onHide)="menuOpen = false"></p-menu>
        } @else if (item.bookCount !== undefined) {
          <p class="book-count">
            {{ formatCount(item.bookCount) }}
          </p>
        }
      </span>
    </div>

    <div
      class="submenu-container"
      [class.expanded]="expanded"
      [attr.aria-hidden]="!expanded"
      [attr.inert]="expanded ? null : ''"
    >
      @if (item.items) {
        <ul>
          @for (child of item.items; track child.routerLink?.join('/') ?? child.label; let i = $index) {
            <li app-menuitem [item]="child" [index]="i" [parentKey]="key"></li>
          }
        </ul>
      }
    </div>
  </div>
</ng-container>
